.wrapper {
    display: flex;
    flex-direction: column;

    .skip {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        font-size: 32px;
        color: #f6c2c2;

        >span {
            padding-top: 16px;
            padding-right: 16px;
        }
    }

    >header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        >div {
            padding-top: 10px;
            font-size: 32px;
            color: #D4D4EE;
        }
    }
}